<div class="container-fluid w-75 h-100 mt-5 p-5 text-right border bg-light ">
	<div class="container text-center">
    <% @post.each do |post| %> 
        <h1><%= post.car_make %></h1><br>
        <%= post.city %>
      <%= link_to 'Read Post',post_path(post) %>       
    <% end %>
  </div>  
</div>
